*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    height: 100vh;
    background: url('./img/rdr2_rdr2_3840x2160.jpg') no-repeat center center / cover;
}
.bedrock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.wrapper {
    position: relative;
    top: 35%;
    width: 100%;
    max-width: 360px;
    display: block;
    padding: 16px 16px 14px 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: auto auto;
}

.icon-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #C7C8D9;
    display: inline-block;}

    .survey-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.close-btn {
    padding: 0px;
    width: 24px;
    height: 24px;
    opacity: 1;
    border-radius: 4px;
    left: 332px;
    position: absolute;
    top: 4px;
    right: 4px;
    background: whitesmoke;
    background-image: url('./img/cross-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border: none;
    font-size: 12px;
    color: #555770;
    cursor: pointer;
    z-index: 3;
}

h1 {
    width: 240px;
    height: 28px;
    opacity: 1;
    top: 4px;
    left: 48px;
    font-size: 20px;
}

label {
    width: 77.03030395507812;
    height: 18;
    opacity: 1;
    top: 48px;
    font-size: 12px;
    color: #555770;
}

.input-box {
    margin-top: 16px;
    width: 328px;
    height: 60px;
    border-radius: 8px;
    opacity: 1;
}

input {
    padding-left: 9.94px;
    width: 328px;
    height: 40px;
    border-radius: 8px;
    top: 68px;
    background-color: rgba(142, 144, 166, 0.16);
    border: none;
}

::placeholder {
    color: rgb(142, 144, 166);
}

.button_confirm {
    border-style: none;
    background: rgba(51, 102, 255, 1);
    width: 96px;
    height: 34px;
    border-radius: 4px;
    gap: 10px;
    opacity: 1;
    top: 200px;
    left: 232px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
}

.button_cancel {
    width: 89px;
    height: 34px;
    border-style: none;
    border-radius: 4px;
    gap: 10px;
    opacity: 1;
    margin-top: 16px;
    margin-left: 135px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    background: rgba(255, 255, 255, 1);
    font-size: 12px;
    color: rgba(51, 102, 255, 1);
    font-weight: 500;
}

.button_cancel:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

.button_confirm:hover {
    cursor: pointer;
    background-color: rgb(46, 93, 236);;
}

.close-btn:hover {
    background-color: #cecece;
}