.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 150px 150px 100px;
  grid-template-areas:
    'sidebar-1 content sidebar-2'
    'sidebar-1 content sidebar-2'
    'footer footer footer';
}
.item1 {
  grid-area: sidebar-1;
}
.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: blue;
}
.sidebar-menu {
  box-sizing: border-box;
  padding: 4px;
  background-color: aqua;
}
.menu-item {
  padding: 5px;
  border: 1px solid black;
  margin-top: 15px;
  border-radius: 16px;
}
.item2 {
  padding: 24px;
  grid-area: content;
  overflow-y: hidden;
}
.content-body {
  height: 100%;
  overflow-y: auto;
}
.item3 {
  grid-area: sidebar-2;
}
.footer {
  grid-area: footer;
}
.footer-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
