* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
  height: 100vh;
}

.header > img {
  height: 38px;
  width: auto;
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
  justify-content: space-between;
  border-bottom: 2px solid #e2e0e0;
}
.header-title {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

.gallery {
  display: grid;
  /* Создаем сетку из 4 колонок (или сколько влезет) */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 120px;
  gap: 10px;
  padding: 10px;

  /* ВКЛЮЧАЕМ DENSE */
  grid-auto-flow: row dense;
}

/* Базовый стиль для карточек */
.item {
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  font-family: sans-serif;
  border: 2px solid #2980b9;
}

/* Горизонтальный блок (занимает 2 колонки) */
.horizontal {
  grid-column: span 2;
  background-color: #e67e22;
}

/* Вертикальный блок (занимает 2 строки) */
.vertical {
  grid-row: span 2;
  background-color: #2ecc71;
}

/* Большой блок (2х2) */
.big {
  grid-column: span 2;
  grid-row: span 2;
  background-color: #e74c3c;
}
