* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
    height: 100vh;
}

.header>img {
    height: 38px;
    width: auto;
}
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    justify-content: space-between;
    border-bottom: 2px solid #e2e0e0;
}
.header-title {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}