.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  /* grid-template-rows: 80px 90px 60px; */
  grid-auto-rows: 50px;
  grid-gap: 15px;
}
div {
  font-size: 24px;
  color: tomato;
}
* {
  margin: 0;
  padding: 0;
}

.item1 {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  background-color: blueviolet;
}
@media screen and (max-width: 500px) {
  .item1 {
    grid-column: 1 / -1;
    grid-row: -1 / -2;
  }
}
