.table-row {
  display: flex;
  border: 1px solid black;
}
.table-row-item {
  flex: 1;
  border-right: 1px solid black;
  padding: 10px;
  font-size: 18px;
}
.table-row-item:last-child {
  border-right: none;
}
.avatar {
  width: auto;
  height: 50px;
  object-fit: contain;
}
.fetch-list {
  margin-bottom: 24px;
}
.add-author {
}
#add-author-form {
  display: flex;
  gap: 8px;
  min-width: 200px;
  padding-top: 24px;
  align-items: center;
}
.author-input {
  flex-basis: 100px;
  height: 20px;
  padding: 2px 4px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-evenly;
  & button {
    height: 32px;
    min-width: 60px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
  }
  & .delete-btn {
    background-color: red;
    color: white;
  }
  & .edit-btn {
    background-color: blue;
    color: white;
  }
}
