.table-row {
  display: flex;
  border: 1px solid black;
}
.table-row-item {
  flex: 1;
  border-right: 1px solid black;
  padding: 10px;
  font-size: 18px;
}
.table-row-item:last-child {
  border-right: none;
}
.avatar {
  width: auto;
  height: 50px;
  object-fit: contain;
}
