@font-face {
  font-family: 'Lobster Two';
  src: url('./fonts/LobsterTwo-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lobster Two';
  src: url('./fonts/LobsterTwo-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

.lobster-two-regular {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.lobster-two-bold {
  font-family: 'Lobster Two', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

button.accordion-button:not(.collapsed) {
  background-color: #e9e9e9;
  box-shadow: none !important;
}
button.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

button.accordion-button:not(.collapsed)::after {
  background-image: url(./img/uncollapsed-icon.svg);
}
button.accordion-button.collapsed::after {
  background-image: url(./img/uncollapsed-icon.svg);
}
