body {
    padding: 30px;
}

.cardbg {
    width: 400px;
    height: 600px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 20px;
    background: grey;
}

.title {
    font-size: 24px;
    text-align: left;
    padding-top: 40px;
    color: rgba(71, 35, 35, 0.5);
}

.text {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.rdr {
    width: 200px !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

.buttons-wrapper {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
}
.button-cancel {
    margin-left: 50px;
}