h1 {
  text-align: right;
}

#title.block-title {
  text-align: left !important;
}

#title {
  text-align: center;
}

.main-image {
  max-width: 50%;
  max-height: 468px;
}
.gradient {
  width: 300px;
  height: 300px;
  background: linear-gradient(-45deg, #eecfba, #487185, #1ca2e0);
}
mark {
  background-color: blueviolet;
  color: green;
}
