.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-item {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: aqua;
}
.container > .flex-item.green {
  background-color: lightgreen;
  border-radius: 14px;
  height: 75px;
  flex: 1;
}
.container > .flex-item.red {
  background-color: lightcoral;
  align-content: stretch;
}
.container > .flex-item.blue {
  background-color: blue;
  height: 200px;
}
